<div class="container">
	<h3 class="title">投稿されたレシピ</h3>
	<div class="row">
		<% @recipes.each do |recipe| %>
			<div class="index-recipe-container">
				<%= attachment_image_tag(recipe, :recipe_image, fallback: "/images/no_image.png", format: "jpg", class: "index-recipe-image") %>
				<div class="details">
					<div>
						<%= link_to producer_recipe_path(recipe.id) do %>
							<span><%= recipe.title %></span>
						<% end %>
					</div>
					<div>
						<p><%= recipe.description %></p>
					</div>
				</div>
			</div>
			<div class="recipe-index-line"></div>
		<% end %>
	</div>
</div>